body {
	/* padding: 0 5rem; */
	font-family: open sans;
	line-height: 1;
}

h2 {
	font-family: Courier;
	font-size: 40px;
	/* margin: auto; */
	display: block;
	margin-top: 2rem
}

.bold {
	font-weight: 600;
}


.text-align-center {
	text-align: center;
}
