header {
	color: white;
}

#background {
	width: 100%;
	z-index: -1;
}

h1 {
	position: absolute;
	left: 5rem;
	top: 15rem;
	font-family: DTL Nobel TOT;
	font-size: 42px;
	text-transform: uppercase;
	font-weight: bold;
	color: white;
}

#frontend {
	font-family: Courier;
	position: absolute;
	color: white;
	left: 5rem;
	font-size: 32px;
	top: 18rem;
}

nav {
	width: 7rem;
	position: absolute;
	top: 3rem;
	right: 5rem;
	text-align: right;
	/* line-height: 2rem; */
	font-size: 1.2rem;
}

a {
	border-bottom-color: white;
	border-bottom-style: solid;
	border-width: 1px;
	color: white;
	text-decoration: none;
}
li {
	padding: 0.8rem 0;
	border-bottom-color: white;
	border-bottom-style: solid;
	border-width: 1px;
}
a:first-of-type li {
	border-top-color: white;
	border-top-style: solid;
	border-width: 1px;
}



/* OVER MIJ section  */
#overmij {
	background-color: #e5e5e5;

}

svg {
	position: relative;
	z-index: 10;
}

#Layer_1 {
	margin-top: -2.3rem;
}

/* #Layer_2 {
	margin-top: -2.3rem;
} */

#text img {
	width: 10rem;
}

#overmij p {
	width: 30vw;
	display: inline-block;
	line-height: 20px;
	font-family: Proxima Nova;
}

#overmij #text {
	margin-top: 3rem;
	padding: 0 5rem 5rem 5rem;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-between;
	align-items: center;
}

.main-padding {
	padding: 0 5rem;
}

.skills {
	display: flex;
	flex-wrap: wrap;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-between;
}

.skill img {
	width: 4.5rem;
	align-self: center;
}
.skill {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	margin: 0.8rem 0;
}

.left, .right {
	width: 40%;
}

[alt="css"], [alt="html"], [alt="javascript"] {
	height: 1.5rem !important;
	width: auto !important;

}

.flex {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
}

.space-between {
	justify-content: space-between;
}

.flex-item {
	/* width: 22rem; */
	height: 14.5rem;
	overflow: hidden;
	position: relative;
  	/* width: 50%; */
  	max-width: 22rem;
	margin-bottom: 2rem;
}

#project-img {
	display: block;
  	width: 100%;
  	height: auto;
}
.margin-top {
	margin-top: 3rem;
}

.overlay {
  position: absolute;
  bottom: 0;
  background: rgb(0, 0, 0);
  background: rgba(0, 0, 0, 0.5); /* Black see-through */
  color: #f1f1f1;
  width: 100%;
  transition: .5s ease;
  opacity:0;
  color: white;
  font-size: 20px;
  padding: 20px;
  text-align: center;
}

.flex-item:hover {
	width: 24rem;
}

.flex-item:hover .overlay {
  opacity: 1;
}
